.noUi-target {
  position: relative;
}
.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  transform-origin: 0 0;
}
.noUi-connect {
  height: 100%;
  width: 100%;
}
.noUi-origin {
  height: 10%;
  width: 10%;
}

.noUi-handle {
  backface-visibility: hidden;
  position: absolute;
}

.noUi-horizontal {
  height: 7px;
}
.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: -17px;
  top: -6px;
}

.noUi-target {
  background: #edf1f8;
  border-radius: 100px;
}

.noUi-connect {
  background: #5cadea;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}
.noUi-handle {
  border: 5px solid #5cadea;
  border-radius: 3px;
  background: #fff;
  cursor: default;
  box-shadow: 0px 3px 5px rgba(31, 85, 132, 0.2);
}

.noUi-pips {
  position: absolute;
  color: #999999;
}

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-large {
  color: #333333;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.noUi-value-sub {
  color: #999;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}
.noUi-value-horizontal {
  -webkit-transform: translate(-27%, 32%);
  transform: translate(-27%, 32%);
}

.noUi-value-horizontal:last-child {
  padding-left: 4px;
}

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

.noUi-tooltip {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 66px;
  border-radius: 6px;
  background: #fff;
  color: #0167b3;
  padding: 6px 14px;
  box-shadow: 0px 5px 15px rgba(14, 88, 143, 0.2);
  text-align: center;
  white-space: nowrap;
  font: 600 18px/1.33 Raleway, sans-serif;
}
.noUi-horizontal .noUi-tooltip {
  transform: translate(-50%, -25%);
  left: 50%;
  bottom: 120%;
  white-space: pre-line;
}

.noUi-origin:last-child .noUi-tooltip {
  transform: translate(-50%, 150%);
  left: 50%;
  bottom: 120%;
}

.noUi-tooltip::before {
  position: absolute;
  bottom: -7px;
  border-color: transparent;
  border-style: solid;
  border-top-color: #fff;
  border-width: 8px 8px 0;
  content: "";
}

.noUi-origin:last-child .noUi-tooltip::before {
  position: absolute;
  top: -7px;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-top-color: #fff;
  border-width: 8px 8px 0;
  transform: rotate(180deg);
  content: "";
}

@media screen and (max-width: 599px) {
  .noUi-value-sub {
    display: none;
    font-size: 8px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
  }
  .noUi-value-sub:nth-child(4n) {
    display: block;
  }
  .noUi-value-large {
    font-size: 10px;
    margin-right: 15px;
  }
  .noUi-value-large:last-child {
    font-size: 10px;
    padding-left: 10px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .noUi-value-sub {
    font-size: 10px;
  }
}
